@import "../bower_components/bulma/bulma";

body {
    background-color: #F4F4F4;
}

#site-title {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
}

.main-container {
    padding-top: 20px;
}

.post-title {
    background-color: #FFFFFF;
    color: #333333;
    font-weight: 600;
}

.post-tag {
    font-weight: 600;
}

.post-thumbnail {
    width: 100%;
    display: block;
}

.menu-list {
    background-color: #FFFFFF;

    li {
        color: #333333;
        font-weight: 600;
    }
}

/* media queries */
@include desktop {
    .main-container {
        width: 90%;
        margin: 0 auto;
    }
}
