@import "../bower_components/bulma/bulma";

body {
    background-color: #F4F4F4;
}

.header {
    background-color: #FFFFFF;
    color: #333333;

    h1 {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        padding: 18px 0;
    }
}

.main-container {
    padding-top: 20px;
}

.post-title {
    background-color: #FFFFFF;
    color: #333333;
    font-weight: 600;
}

.post-tag {
    font-weight: 600;
}

.post-thumbnail {
    width: 100%;
}

/* media queries */
@include desktop {
    .main-container {
        width: 90%;
        margin: 0 auto;
    }
}
