@import "../bower_components/bulma/bulma";

@include desktop {
    .main-container {
        width: 90%;
        margin: 0 auto;
    }
}

.post {
    // min-height: 100px;
}

.post-tag {
    font-weight: 500;
}

.post-thumbnail {
    width: 100%;
}
